    
<section class="row container text-center">
    


   
       
        <li class="list-group-item">
            <a href="" class="btn btn-primary">{{this.nome}}</a>
        </li>
         <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#criaCard{{this.id}}">
        Criar cartão
        </button>
        
   
</section>